h1.post-title {
    margin-top: 20px;
    font-size: 28px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    h1.post-title {
        margin-top: 20px;
        font-size: 20px;
        margin-bottom: 10px;
    }

}
@media (min-width: 767px) {
    .head-div {
        height: 100px;
    }
}
/*
.container, .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px) {
    .container {
        !*width: 970px;*!
        padding-left: 50px;
        padding-right: 50px;
    }
}*/
